#
# lombok configuration
#

lombok.addLombokGeneratedAnnotation = false
lombok.addGeneratedAnnotation = false
lombok.addJavaxGeneratedAnnotation = false

# Due to the change in Lombok 1.16.20, this property has to be set
# explicitly to false, otherwise jackson will not be able to deserialize
# @Value annotated classes.
lombok.anyConstructor.suppressConstructorProperties = false

# vim:shiftwidth=2 softtabstop=2 expandtab
# EOF
